body {
  background-color: #2d2013;
  color: white;
}
.jumbotron {
  color: #d57d1f;
  background-color: rgb(7, 5, 5);
}
.meal-img {
  padding-top: 15px;
  height: 250px;
  width: 350px;
}
.meal-name {
  font-size: larger;
  color: #ff8000;
}
.meal-name:hover {
  color: hsl(49, 83%, 50%);
}
.ingredients {
  font-size: larger;
  color: #ff8000;
}
.instruction {
  font-size: larger;
  color: #ff8000;
  font-weight: bold;
}
.instr {
  color: #ffffff;
  font-weight: normal;
}
.output1 {
  padding: 20px;
  border: 15px;
}
